
.rm-link{
  border: 2px solid #FFAF36;
  padding: 7px 20px;
  color: #FFAF36;
  font: 700 13px "Raleway"
}
.button-text-color{
  color: #FFAF36;
  background-color: transparent;
}
/*-------------------------------------careeers---------------------------------------*/


.career-rm-link{
  border: 2px solid #FFAF36;
  padding: 7px 20px;
  color: #FFAF36;
  font: 700 13px "Raleway"
}
.career-button-text-color{
  color: #1c1c1c;
  background-color: #FFAF36;
}
.color-bg{
  background-color: transparent;
}