
.question {
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  column-width: 220px;
  column-gap: 30px;

}

/*
.numbered-list{
  margin-bottom: 30px;
  ol{
    counter-reset: item;
    list-style-type: none;
    color: black;
    li{
      position: relative;
      float: left;
      width: 47%;
      margin: 50px 0 0 60px;
      &:nth-child(odd){
        margin: 50px 0 0 0;
        & > li::before{
          content:'';
          position: absolute;
          height: 30px;
          width: 30px;
          left: -40px;
          top: -3px;
          text-align: center;
          padding-top: 5px;
          vertical-align: middle;
          content: counter(item)'';
          counter-increment: item;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url(../images/faq-yellow-shape.png);
        }
      }
    }
  }
}
*/
.numbered-list{
  counter-reset: myCounter;
  li{
    list-style: none;

  }
  li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    font: 800 16px "Open Sans";
    color: #1c1c1c;
    background: #FFAF36;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    .list-number{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      margin-right: 19px;
    }
  }
}


.block-text-center{
  display: flex;
  align-items: center;

}
