.wrapper-testimonial{
  padding: 7vh 0 7vh;;
}
.testimonial-clients-1, .testimonial-clients-2,.testimonial-clients-3,.testimonial-clients-4{
  .t-container{
    position: relative;
    .layer-container{
      position: absolute;
      top: 65px;
      left: 390px;
      right: 0;
      bottom: 0;
      width: 750px;
      height: 225px;
      background: #fff;
      border: 1px solid rgba(#ffffff, 0.15);
      padding: 35px;
    }
  }
}
.testimonial-clients-2, .testimonial-clients-4{
  background-color: #EAEFF3;
}
.post-comments{
  .rm-link{
    padding: 14px 25px;
  }
}
