


.text-uppercase{
  text-transform: uppercase;
}
.line-height-xs{
  line-height: 24px;
}
.line-height-sm{
  line-height: 28px;
}
.line-height-md{
  line-height: 30px;
}
.text-align-right{
  text-align: right;
}
/*-------------------------------------careeers---------------------------------------*/