.image-block{
  img{
    background: #313436;
  }
}
.about-views{
  .about-content-image{
    position: relative;
    width: 100%;
    background: #313436;
  .abouts-client-image{
    display: inline;
  }
  }
}


