
.carousel-control.left, .carousel-control.right {
  background-image: none;
  filter: none;
}
.carousel-indicators{
  width: 100%;
  margin-left: 0;
  bottom: -50px;
  left: 0;
  li{
    background-color: #00BAEF;
    &.active{
      background-color: #ffaf36;
    }
  }
}
.circle-indicators{
  float: left;
  margin-right: 10px;
  transition: 0.2s ease;
  border: none;
  background-color: #00BAEF;
  margin: 0 10px 0 10px;
  width: 14px;
  height: 14px;

}
.clients-carousel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  li{
    width: 318px;
    margin: 0 23px;
    list-style-type: none;
    p{
      line-height: 28px;
    }
    .row{
      margin-top: 50px;
    }
  }
}
.clients-logo-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  li {
    border: 1px solid #eaeff3;
    width: 178px;
    height: 178px;
    padding: 40px;
    text-align: center;
  }
}

/*-------------------------------------Open Sans---------------------------------------*/
/*.clients-logo-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid #E6E9EB;
  padding: 20px;
  margin-right: 5px;
}
*/
