

input{
  height: 47px;
}
/*-------------------------------------blog-post---------------------------------------*/
.s-form{
  font: 700 $fsize-sm "Open Sans";
  border: none;
  border-bottom: 1px solid rgba(221, 228, 234, 18.15);
  background-color: transparent;
  line-height: 24px;
  margin: 25px 0;
}


