.homepage-1-banner{
  position: relative;
  min-height: 620px;
}
.h-wrapper{
  margin: auto 100px;
  max-width: 1140px;
  padding: 5vh 0;
}
/*
.homepage-1-banner{
  min-height: 620px;
}
*/
.home-container{
  width: 750px;
  position: absolute;
  top: 155px;
  left: 90px;
  right: 0;
  bottom: 0;
  color: #FFFFFF;
  z-index: 2;
  p{
    width: 530px;
  }
}
.home-position{
  text-align: left

}
.services,.news{
  background-color: #EAEFF3;
}
     .quotes{
      position: relative;
        margin-top: 35px;
      &::before{
        position: absolute;
        content: "\275D";
        font-size:150px;
        opacity: 0.1;
        top: 15%;
        left:-2%;
        z-index:2;
      }

      &-grey::before{
        color: #1c1c1c;
      }
      &-blue::before{
        color: #00BAEF;
      }
      &-orange::before{
        color: #ffaf36;
}
}


.home-border-bottom-line{
   border-bottom: 1px solid #E6E9EB;
}
.border-bottom-accentcolor{
  border-bottom: 2px solid $accent-color;
  margin: 10px 0;
}
.indent{
  margin: 0 36px;
}
.indent-minus{
  margin: -20px 0;
}

