.pyramids-layer{
  position: relative;
  &:before {
    position: absolute;
    bottom: 0px;
    right: 83px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 77.5px 101px 77.5px;
    border-color: transparent transparent #36a8ff transparent;
    content: "";
    z-index: -2;
  }
  &:after {
    position: absolute;
    bottom: 0;
    right: 19px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 68px 70px 68px;
    border-color: transparent transparent #ffaf36 transparent;
    z-index: -1;
  }
}
.collapsed{
  transform: rotate(90deg);
}


.pyramids-layer-left{
  position: relative;
  &:before {
    position: absolute;
    bottom: 0px;
    right: 83px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 77.5px 101px 77.5px;
    border-color: transparent transparent #36a8ff transparent;
    content: "";
    z-index: -2;
  }
  &:after {
    position: absolute;
    bottom: 0;
    right: 19px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 68px 70px 68px;
    border-color: transparent transparent #ffaf36 transparent;
    z-index: -1;
  }
}
.collapsed{
  transform: rotate(90deg);
}