//
   Created by Oleg on 1/8/2017.

section.footer
    .f-wrapper bg-color
        .row
            .f-container.col-md-4
                a(href="#")
                    img.header-logo-image(src="images/logo.png" width="150" height="35" alt="logo")
                .footer-text-color.text-content
                    span 2015
                ul.f-social
                    li
                        button.btn.btn-default.btn-sm.color-bg(type="button")
                            a (href="https://facebook.com/groups/ProstirCherkasy" target="_blank")
                                i.fa.fa-facebook(aria-hidden="true")
                    li
                        button.btn.btn-default.btn-sm.color-bg(type="button")
                            a(href="https://plus.google.com/u/0/108677018405379965873" target="_blank")
                                i.fa.fa-google(aria-hidden="true")
                    li
                        button.btn.btn-default.btn-sm.color-bg(type="button")
                            a(href="https://twitter.com/costanzaquotes" target="_blank")
                                i.fa.fa-twitter
                    li
                        button.btn.btn-default.btn-sm.color-bg(type="button")
                            a(href="https://linkedin.com" target="_blank")
                                i.fa.fa-linkedin(aria-hidden="true")
            .nav-container.col-md-3.
                h5.footer-header-color.text-uppercase.text-margin-bottom-sm
                ul.footer-nav-list
                    li
                        a(href="home.html") home
                    li
                        a(href="about-us.html") about-us
                    li
                        a(href="services.html") services
                    li
                        a(href="testimonials.html") testimonials
                    li
                        a(href="blog.html") blog
                    li
                        a(href="contact-us.html") contact-us
            .form-container.col-md-5
                h5.footer-header-color.text-uppercase.text-margin-bottom-sm Quick contact us
                form.form-inline
                    .form-group
                        label.sr-only(for="exampleInputName") Name *
                        input(type="email" size="27" class="form-bg-color" id="exampleInputName" placeholder="Email *")
                    .form-group
                        label.sr-only(for="exampleInputEmail3") Email *
                        input(type="email" size="28" class="form-bg-color" id="exampleInputEmail3" placeholder="Email *")
                        textarea.form-bg-color(rows="3" cols="59" placeholder="Comment *")
                    button.rm-link button-text-color(type="submit" form="data") Submit Now