//
   Created by Oleg on 1/8/2017
doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Blog
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,900" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        section.header border-bottom-line
            nav.navbar.navbar-light.bg-faded.wrapper
                a.navbar-brand (href="#")
                    img.header-logo-image(src="images/logo.png" width="164" height="34" alt="logo")
                    img.header-icon-image(src="images/header-icon.png" width="23" height="23" alt="phone_icon")
                    a.header-text(href="tel:+9978 8856 999") +9978 8856 999
                    div.form-inline.float-xs-right.header-padding
                        ul.nav-list.nav.navbar-nav.text-uppercase
                            li.nav-item
                                a.nav-link-base(href="home.html") home
                            li.nav-item
                                a.nav-link-base(href="about-us.html") about-us
                            li.nav-item
                                a.nav-link-base(href="services.html") services
                            li.nav-item
                                a.nav-link-base(href="news.html") news
                            li.nav-item
                                a.nav-link-base.active(href="blog.html") blog
                            li.nav-item
                                a.nav-link-base(href="pages.html") pages
                            li.nav-item
                                a.nav-link-base(href="contact-us.html") contact-us

