doctype html
html
    head
        meta(charset="utf-8")
        meta (http-equiv="x-ua-compatible" content="ie=edge")
        title Blog
        link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,900" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
                  integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    body
        section.header border-bottom-line
            nav.navbar.navbar-light.bg-faded.wrapper
                a.navbar-brand (href="#")
                    img.header-logo-image(src="images/logo.png" width="164" height="34" alt="logo")
                    img.header-icon-image(src="images/header-icon.png" width="23" height="23" alt="phone_icon")
                    a.header-text(href="tel:+9978 8856 999")+9978 8856 999
                    div.form-inline.float-xs-right.header-padding
                        ul.nav-list.nav.navbar-nav.text-uppercase
                            li.nav-item
                                a.nav-link-base(href="home.html") home
                            li.nav-item
                                a.nav-link-base(href="about-us.html") about-us
                            li.nav-item
                                a.nav-link-base(href="services.html") services
                            li.nav-item
                                a.nav-link-base(href="news.html") news
                            li.nav-item
                                a.nav-link-base.active(href="blog.html") blog
                            li.nav-item
                                a.nav-link-base(href="pages.html") pages
                            li.nav-item
                                a.nav-link-base(href="contact-us.html") contact-us
        .news-banner
            img(src="images/news-banner-image.png" alt="background")
        section.news-1
            .wrapper.pyramids-layer
                h2.text-xl-raleway.text-uppercase News
                h4.text-md-lora.text-margin-bottom Featured News
                    .row
                        .col-xs-2.col-md-2
                            h4.bg-img-decor.text-xs-opensans.text-uppercase october-20-05
                        .col-xs-4.col-md-4
                            img.news-layer-image(src="images/news-layer-1.png" width="360" height="252" alt="background")
                        .col-xs-6.col-md-6
                            h4.text-uppercase.text-md-raleway News heading Here
                            p.text-line-height-sm There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                            ul.career-list-style.text-margin-vertical-md.text-line-height-lg
                                li
                                    |Nam nec urna facilisis, viverra arcu id, aliquam nulla.
                                li
                                    |Donec ac risus molestie, porta elit vel, hendrerit orci.
                                li
                                    |Aenean in sapien sed mauris tincidunt posuere.
        section.news-2
            .wrapper
                .row
                    .col-xs-2 col-md-2
                        h4.bg-img-decor.text-xs-opensans.text-uppercase october-22-05
                    .col-xs-10.col-md-10
                        h4.text-uppercase text-md-raleway News heading Here
                        p.text-line-height-sm
                            |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing. There are many variations of passages of Lorem.
        section.news-3
            .wrapper
                .row
                    .col-xs-2.col-md-2
                        h4.bg-img-decor.text-xs-opensans.text-uppercase october-24-05
                    .col-xs-4.col-md-4.column
                        img.news-layer-image(src="images/news-layer-2.png" width="360" height="252" alt="image")
                        .news-image-block
                            .row
                                .col-xs-6.col-md-6
                                    img.news-layer-image(src="images/news-layer-3.png" width="163" height="100" alt="image")
                                .col-xs-6.col-md-6
                                    img.news-layer-image(src="images/news-layer-4.png" width="163" height="100" alt="image")
                    .col-xs-6.col-md-6
                        h4.text-uppercase.text-md-raleway News heading Here
                        p.text-line-height-sm
                            |Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem.
                        .news-text-area
                            blockquote.blockquote.quote-style-dark.text-margin-vertical-md.text-sm-lora
                                p.mb-0
                                    |Normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages
        section.news-4
            .wrapper.pyramids-layer
                .row
                    .col-xs-2.col-md-2
                        h4.bg-img-decor.text-xs-opensans.text-uppercase october-26-05
                    .col-xs-4.col-md-4
                        img.news-layer-image(src="images/news-layer-5.png" width="360" height="252" alt="background")
                    .col-xs-6 col-md-6
                        h4.text-uppercase text-md-raleway News heading Here
                        p.text-line-height-sm
                            |There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        section.footer
            div.f-wrapper bg-color
                div.row
                    div.f-container.col-md-4
                        a(href="#")
                            img.header-logo-image(src="images/logo.png" width="150" height="35" alt="logo")
                        div.footer-text-color.text-content
                            span 2015
                        ul.f-social
                            li
                                button.btn.btn-default.btn-sm.color-bg(type="button")
                                    a (href="https://facebook.com/groups/ProstirCherkasy" target="_blank")
                                        i.fa.fa-facebook(aria-hidden="true")
                            li
                                button.btn.btn-default.btn-sm.color-bg(type="button")
                                    a(href="https://plus.google.com/u/0/108677018405379965873" target="_blank")
                                         i.fa.fa-google(aria-hidden="true")
                            li
                                button.btn.btn-default.btn-sm.color-bg(type="button")
                                    a(href="https://twitter.com/costanzaquotes" target="_blank")
                                         i.fa.fa-twitter
                            li
                                button.btn.btn-default.btn-sm.color-bg(type="button")
                                    a(href="https://linkedin.com" target="_blank")
                                         i.fa.fa-linkedin(aria-hidden="true")
                    div.nav-container.col-md-3.
                        h5.footer-header-color.text-uppercase.text-margin-bottom-sm
                        ul.footer-nav-list
                            li
                                a(href="home.html") home
                            li
                                a(href="about-us.html") about-us
                            li
                                a(href="services.html") services
                            li
                                a(href="testimonials.html") testimonials
                            li
                                a(href="blog.html") blog
                            li
                                a(href="contact-us.html") contact-us
                    div.form-container.col-md-5
                        h5.footer-header-color.text-uppercase.text-margin-bottom-sm Quick contact us
                        form.form-inline
                            div.form-group
                                label.sr-only(for="exampleInputName") Name *
                                input(type="email" size="27" class="form-bg-color" id="exampleInputName" placeholder="Email *")
                            div.form-group
                                label.sr-only(for="exampleInputEmail3") Email *
                                input(type="email" size="28" class="form-bg-color" id="exampleInputEmail3" placeholder="Email *")
                                textarea.form-bg-color(rows="3" cols="59" placeholder="Comment *")
                            button.rm-link button-text-color(type="submit" form="data") Submit Now
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous")
