//
   Created by Oleg on 1/8/2017.

include include/head
    .testimonial-banner
        img(src="images/testimonial-banner-image.png" alt="background")
    section.testimonial-clients-1
        .wrapper pyramids-layer
            header
                h2.text-xl-raleway.text-uppercase Testimonials
                h4.text-md-lora.text-margin-bottom Our Happy Clients
            .t-container.quotes.quotes-blue
                img.testimonial-layer-image(src="images/testimonial-layer-1.png" width="458" height="353" alt="background")
                .layer-container
                    i.fa.fa-quote-left(aria-hidden="true")
                    p.text-center
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        | galley of type and scrambled it to make a type specimen book. It has survived
                    i.fa.fa-quote-right.pull-right(aria-hidden="true")
                    h4.text-sm-raleway-bold.text-uppercase NAme Here
                    h6.text-sm-opensans.text-color-accent Designation
    section.testimonial-clients-2
        .wrapper
            .t-container
                img.testimonial-layer-image(src="images/testimonial-layer-2.png" width="458" height="353" alt="background")
                .layer-container
                    i.fa.fa-quote-left(aria-hidden="true")
                    p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        | galley of type and scrambled it to make a type specimen book. It has survived
                    i.fa.fa-quote-right.pull-right(aria-hidden="true")
                    h4.text-sm-raleway-bold.text-uppercase NAme Here
                    h6.text-sm-opensans.text-color-accent Designation
    section.testimonial-clients-3
        .wrapper
            .t-container
                img.testimonial-layer-image(src="images/testimonial-layer-3.png" width="458" height="353" alt="background")
                .layer-container
                    i.fa.fa-quote-left(aria-hidden="true")
                    p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        | galley of type and scrambled it to make a type specimen book. It has survived
                    i.fa.fa-quote-right.pull-right(aria-hidden="true")
                    h4.text-sm-raleway-bold.text-uppercase NAme Here
                    h6.text-sm-opensans.text-color-accent Designation
    section.testimonial-clients-4
        .wrapper
            .t-container
                img.testimonial-layer-image(src="images/testimonial-layer-4.png" width="458" height="353" alt="background")
                .layer-container
                    i.fa.fa-quote-left(aria-hidden="true")
                    p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        | galley of type and scrambled it to make a type specimen book. It has survived
                    i.fa.fa-quote-right.pull-right(aria-hidden="true")
                    h4.text-sm-raleway-bold.text-uppercase NAme Here
                    h6.text-sm-opensans.text-color-accent Designation
    section.post-comments
        .wrapper.pyramids-layer
            h2.text-xl-raleway.text-uppercase Post Comments
            h4.text-md-lora.text-margin-bottom Post Your testimonial now
            .row
                .col-xs-6
                    form
                        .form-group
                            input(type="text" class="form-control" id="formGroupExampleInput" placeholder="NAME *")
                        .form-group
                            input(type="text" class="form-control" id="formGroupExampleInput2" placeholder="EMAIL *")
                        .form-group
                            input(type="text" class="form-control" id="formGroupExampleInput3" placeholder="PHONE *")
                .col-xs-6
                    form
                        .form-group
                            textarea.form-control(id="exampleTextarea" rows="8" placeholder="COMMENT *")
                        button.rm-link.button-text-color.text-uppercase.text-margin-top-sm(type="submit" form="data") Submit Now
    include include/footer
